<%= simple_form_for(@hotel, html: {multipart: true, class: 'form-horizontal'}) do |f| %>
 
<%= render 'shared/error_messages', :target => @hotel %>

  <div class="form-inputs">
    <%= f.input :title, input_html: {class: 'form-control'} %>
  </div>
  <div class="form-inputs">
    <%= f.select(:star_rating, (1..5).to_a, input_html: {class: 'form-control'}) %>
  </div>
  <div class="form-inputs">
    <%= f.label :breakfast_included %>
    <%= f.check_box :breakfast_included, input_html: {class: 'controls form-inline'} %>
  </div>
  <div class="form-inputs">
    <%= f.input :room_description, input_html: {class: 'form-control'} %>
  </div>
  <div class="form-inputs">
    <%= f.label :photo %>
    <%= f.file_field :photo, input_html: {class: 'form-control'} %>
  </div>
  <div class="form-inputs">
    <%= f.input :price_for_room, input_html: {class: 'form-control'} %>
  </div>
    <%= f.simple_fields_for :address do |builder| %>
	<div class="form-inputs">
	<%= builder.input :country, :as => :string, input_html: {class: 'form-control'} %>
	</div>
	<div class="form-inputs">
        <%= builder.input :state, input_html: {class: 'form-control'} %>
        </div>
	<div class="form-inputs">
        <%= builder.input :city, input_html: {class: 'form-control'} %>
        </div>
	<div class="form-inputs">
        <%= builder.input :street, input_html: {class: 'form-control'} %>
        </div>
    <% end %>
  <div class="actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
