
<div class="hotel">


<div class="col-md-4">
 <%= image_tag @hotel.photo_url(:thumb), class: 'img-circle' %>
 <div>
   <%= render partial: 'ratings/new', :object => [@hotel, @rating] %>
 </div>
</div>
<div class="col-md-8">
  <h2><%= @hotel.title %></h2>

  <!-- /div -->
  <p>
    <strong>Price for room:</strong>
    <%= @hotel.price_for_room %>
  </p>
<p>
  <strong>Star rating:</strong>
  <%= @hotel.star_rating %>
</p>

<p>
  <strong>breakfast included:</strong>
  <%= @hotel.breakfast_included %>
</p>

<p>
  <strong>Room description:</strong>
  <%= @hotel.room_description %>
</p>
  <p>
    <strong>Country:</strong>
    <%= @hotel.address.country %>
  </p>

  <p>
    <strong>State:</strong>
    <%= @hotel.address.state %>
  </p>

  <p>
    <strong>City:</strong>
    <%= @hotel.address.city %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= @hotel.address.street %>
  </p>
</div>


<div class="comments">
  <%= render partial: 'comments/new', :object => [@hotel, @comment]  %>
  <%= render partial: 'comments/index', :object => @hotel %>
</div>

<%= link_to 'Back', hotels_path, class: 'btn btn-link' %>
</div>